.row {
  margin-bottom: 15px;
  background-color: #FEFEFE;
}

.pubs a {
  color: inherit;
}

img.pub {
  width: 240px;
}

.pub .price {
  font-weight: bold;
}

.pub .btn {
  opacity: 0.5
}

.pub.like .btn-success {
  opacity: 1;
}
.pub.dislike .btn-danger {
  opacity: 1;
}

.new .pub.like .desc {
  opacity: 0.5
}

.new .pub.dislike .desc {
  opacity: 0.5
}

.like .pub.dislike .desc {
  opacity: 0.5
}

.dislike .pub.like .desc {
  opacity: 0.5
}

/************/
/* Esthetic */
/************/

.jumbotron {
 background-attachment: fixed;
 background-image: url("../images/annonces-dark.jpg");
 background-position: center bottom;
 background-size: cover;
 position: relative;
 width: 100%;
 color: #FFFFFF;
}

