div.social_links {
  text-align: right;
}

div.social_links img {
    height: 25px;
}

.row {
  margin-bottom: 15px;
  background-color: #FEFEFE;
}

.pubs a {
  color: inherit;
}

img.pub {
  width: 240px;
}

.pub .price {
  font-weight: bold;
}

.pub .btn {
  opacity: 0.5
}

.pub.like .btn-success {
  opacity: 1;
}
.pub.dislike .btn-danger {
  opacity: 1;
}

.new .pub.like .desc {
  opacity: 0.5
}

.new .pub.dislike .desc {
  opacity: 0.5
}

.like .pub.dislike .desc {
  opacity: 0.5
}

.dislike .pub.like .desc {
  opacity: 0.5
}

.pub.expired {
  opacity: 0.3
}

/************/
/* Esthetic */
/************/

.jumbotron {
 background-attachment: fixed;
 background-image: url("../images/annonces-dark.jpg");
 background-position: center bottom;
 background-size: cover;
 position: relative;
 width: 100%;
 color: #FFFFFF;
}

.help {
 background-attachment: fixed;
 background-image: url("../images/annonces-darker.jpg");
 background-position: center bottom;
 background-size: cover;
 position: relative;
 width: 100%;
 color: #FFFFFF;
}

.navbar {
 background: #FFF;
 overflow: hidden;
 border: 0;
 border-radius: 0 !important;
 text-align: left;
 -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
         box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
 background-color: #FFFFFF;
}

.active a {
  color: #e96656 !important;
  position: relative;
  outline: none;
}


