!!! 5

if criteria && criteria.max_price > 0
  max_price = criteria.max_price
else
  max_price = ""
if criteria && criteria.cities
  cities = criteria.cities
else
  cities = []

include head
include navbar
form(action="/criteria", method="post")
 div
  .input-group
   span.input-group-addon &euro;
   input.form-control(type="text", name="max_price", placeholder="prix max", value=max_price)
 input(type="hidden", id="cities", name="cities", value=cities)
 div
  button.btn.btn-default(type="submit") enregistrer
include foot
