script(src="/jquery/jquery-1.10.2.js")
script(src="/bootstrap/js/bootstrap.min.js")
script(src="/select2-3.4.5/select2.js")
script(src="/select2-3.4.5/select2_locale_fr.js")
script(src="/vote.js")
script(src="/criteria.js")
script.
 $(init_vote)
 $(init_criteria)
