- var new_class = ""
- var like_class = ""
- var dislike_class = ""
- var criteria_class = ""
case active
 when "new"
  - new_class = "active" 
 when "like"
  - like_class = "active"
 when "dislike"
  - dislike_class = "active"
 when "criteria"
  - criteria_class = "active"

nav.navbar.navbar-default(role="navigation")
 .navbar-header
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar")
   span.sr-only Toggle navigation
   span.icon-bar
   span.icon-bar
   span.icon-bar
  a.navbar-brand(href="#") Annonces

 .collapse.navbar-collapse(id="navbar")
  ul.nav.navbar-nav
   li(class=criteria_class)
    a(href="/" + user_code + "/criteria/") Critères
   li(class=new_class)
    a(href="/" + user_code + "/new/") Nouveautés
   li(class=like_class)
    a(href="/" + user_code + "/like/") Bien
   li(class=dislike_class)
    a(href="/" + user_code + "/dislike/") Bof
