- var new_class = ""
- var like_class = ""
- var dislike_class = ""
- var criteria_class = ""
case active
 when "new"
  - new_class = "active" 
 when "like"
  - like_class = "active"
 when "dislike"
  - dislike_class = "active"
 when "criteria"
  - criteria_class = "active"

.navbar.navbar-default.navbar-fixed-top(role="navigation")
 .container
  .navbar-header
   button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar

  .collapse.navbar-collapse(role="navigation")
   ul.nav.navbar-nav.navbar-right
    li(class=criteria_class)
     a(href="/" + user_code + "/criteria/") Filtre
    li(class=new_class)
     a(href="/" + user_code + "/new/") Nouveautés
    li(class=like_class)
     a(href="/" + user_code + "/like/") Bien
    li(class=dislike_class)
     a(href="/" + user_code + "/dislike/") Bof
